<nav class="navbar navbar-expand-sm navbar-aurora">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "https://img.notionusercontent.com/ext/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fpublic.notion-static.com%2F974621a6-c896-401b-9c9d-23ad57ee2174%2Flogo_drop_one.jpeg/size/w=70?exp=1748532281&sig=0UR8i9c0zhN8_0APBuhnAcK1570A8VIAGJwFacNe6a8&id=1d08d7b6-4e96-81e8-ac5f-00035f88e75b&table=space&userId=cad7b2d7-04fc-4adc-a196-165aa4ca6a25", alt: "DropOne Logo", class: "navbar-brand-logo-image me-2" %>
    <% end %>

    
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to activity_user_path(current_user), class: "nav-link #{'active' if current_page?(activity_user_path(current_user))}" do %>
              <i class="bi bi-suit-heart fs-5"></i>
            <% end %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Inscription", new_user_registration_path, class: "nav-link #{'active' if current_page?(new_user_registration_path)}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
